<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" href="#">Http Requests Viewer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="{% url 'http_requests_viewer:target_create' %}">New target</a>
      <a class="nav-link" href="{% url 'http_requests_viewer:target_list' %}">Targets</a>
      <a class="nav-link" href="{% url 'http_requests_viewer:agent_list' %}">Agents</a>
      <a class="nav-link" href="{% url 'http_requests_viewer:exclude_host_list' %}">Exclude hosts</a>
    </div>
  </div>
</nav>